/* Modal */
body.modal-open {
    background: rgba(0, 0, 0, 0.30);
}
.modal {
    width: 630px;
    height: 688px;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content h2 {
    text-align: center;
	color: black;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-top: 60px;
}
.modal-content a {
    color: black;
	font-size: 24px;
	cursor: pointer;
}
.iconTop {
	position: absolute;
	top: 26px;
}
.modal-arrow {  
    left: 30px;
}
.modal-close {
    right: 30px;
}
.footerModal {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.horizontal-line {
    width: 420px;
    height: 1px;
    background: #B3B3B3;
    margin-bottom: 38px;
}
.btnModal {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    color: #fff;
    background-color: #1D6154;
    border: none;
}


/* Aside 1 */
.modal-content h2 {
    margin-bottom: 46px;
}
.modalGallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 105px;
    gap: 5px;
  }
.modalGallery img {
    width: 98%;
    margin-bottom: 25px;
  }
.gallery-item {
    width: 20%;
    margin: 10px;
    position: relative;
}
.gallery-item img {
    max-width: 100%;
    height: auto;
}
.image-container {
    position: relative;
    display: inline-block;
  }
.delete-background {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image-container:hover .delete-background {
    opacity: 1;
}  
.delete-icon {
    font-size: 9px;
    color: white;
}
   


/* Aside 2 */
.photo-upload {
    display: flex;
    justify-content: center;
}
.upload-container .fa-image {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 60px;
	color: #B9C5CC;
}
.upload-container {
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-container p {
	font-size: 10px;
	color: #444;
	margin-top: 7px;
}
#photoFile {
    margin: 20px 0;
    display: none;
}
.btnSubmitPhoto {
    width: 173px;
    height: 36px;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-categorie {
	width: 420px;
	margin: 30px auto;
}
.info-categorie input, 
.info-categorie select{
	font-family: 'Work Sans';
	font-size: 14px;
	color: #444;
}
.info-categorie h3 {
	margin-bottom: 10px;
}
#aside2 input,
#aside2 select {
    padding: 18px 0 17px 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09);
	outline: none;
}
.info-categorie input {
	width: 96%;
	margin-bottom: 21px;
}

#categorySelect {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
	background-position: right 20px center; /* Décalez l'image de 20px de la droite */
	background-repeat: no-repeat;
	padding-right: 30px;
}
