/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	background-color: #FFFEF8;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
.header a:hover {
	font-weight: bold;
  }
header, main, footer {
	max-width: 1140px;
	margin:auto;
}
section {
	margin: 50px 0 100px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-right: 30px;
}
/* admin mode  */
#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projetsTitle h2 {
  display: inline-block;
}
.btnEditMod i {
  margin-right: 10px;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
	font-weight: 500;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em	
}

/* Login html */

.logintext {
	font-weight: bold;
}

#login {
	width: 40%;
	margin: 6.25em auto;
}
#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
	color: #3D3D3D;
	font-weight: 500;
}
#login a {
	display: block;
    text-align: center;
	margin-bottom: 20rem;
	color: black;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/* Category filter */

.buttons-container {
	display: flex;
	justify-content: center; 
	align-items: center;
	
  }

  .filter__btn {
	font-family: 'Syne';
	padding: 10px 20px;
	margin: 20px 15px 35px 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	outline: none;
	cursor: pointer;	
  }
  
  .filter__btn--active {
	background-color: #1D6154;
	color: white;
  }

  /* Login error */

  .error {
    color: red;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Admin mode */
.background-bar {
	background-color: black;	
	padding: 10px 0;
	z-index: 9999;
	transition: top 0.3s ease-in-out;
}
#editModBanner {
	max-width: auto;	
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.edit-mod-banner{
	display: flex;
	align-items: baseline;
}
.btnEditMod i{
	margin-right: 10px;
}
.btnEditMod {
	background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
	font-size: 1.1428571428571428em;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/* Tools */
.hidden {
	display: none;
  }

/* Modal */
body.modal-open {
    background: rgba(0, 0, 0, 0.30);
}
.modal {
    width: 630px;
    height: 688px;
    border-radius: 10px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content h2 {
    text-align: center;
	color: black;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	margin-top: 60px;
}
.modal-content a {
    color: black;
	font-size: 24px;
	cursor: pointer;
}
.iconTop {
	position: absolute;
	top: 26px;
}
.modal-arrow {  
    left: 30px;
}
.modal-close {
    right: 30px;
}
.footerModal {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.horizontal-line {
    width: 420px;
    height: 1px;
    background: #B3B3B3;
    margin-bottom: 38px;
}
.btnModal {
    width: 237px;
    height: 36px;
    border-radius: 60px;
    color: #fff;
    background-color: #1D6154;
    border: none;
}


/* Aside 1 */
#aside1 .modalGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#aside1 .gallery-item {
    width: 20%;
    margin: 10px;
    position: relative;
}
#aside1 .gallery-item img {
    max-width: 100%;
    height: auto;
}
#aside1 .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background: black;
}

/* Aside 2 */
.photo-upload {
    display: flex;
    justify-content: center;
	margin-top: 36px;
}
.photo-upload .fa-image {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 60px;
	color: #B9C5CC;
}
.upload-container {
    width: 420px;
    height: 169px;
    border-radius: 3px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-container p {
	font-size: 10px;
	color: #444;
	margin-top: 7px;
}
#photoFile {
    margin: 20px 0;
    display: none;
}
.btnSubmitPhoto {
    width: 173px;
    height: 36px;
    border-radius: 50px;
    background-color: #CBD6DC;
    color: #306685;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-categorie {
	width: 420px;
	margin: 30px auto;
}
.info-categorie input, 
.info-categorie select{
	font-family: 'Work Sans';
	font-size: 14px;
	color: #444;
}
.info-categorie h3 {
	margin-bottom: 10px;
}
#aside2 input,
#aside2 select {
    padding: 18px 0 17px 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09);
	outline: none;
}
.info-categorie input {
	width: 96%;
	margin-bottom: 21px;
}

#categorySelect {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E");
	background-position: right 20px center; /* Décalez l'image de 20px de la droite */
	background-repeat: no-repeat;
	padding-right: 30px;
}
